.navigation {
  .top-bar {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100vw;
    background-color: #fff;
    z-index: 48;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .top-bar-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .aside-bar-toggle {
        margin-left: 0;
        padding: 0 30px;
        cursor: pointer;
        z-index: 50;
        &.open {
          margin-left: 240px;
        }
        i {
          font-size: 1.5em;
        }
      }
      ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        li {
          padding: 0 1em;
          i {
            font-size: 1.5em;
          }
        }
      }
    }
  }
  .aside-bar {
    position: fixed;
    width: 0;
    height: 100svh;
    background-color: rgb(17 28 67);
    margin: 0;
    z-index: 49;
    transition-duration: 0.1s;
    &.open {
      width: 240px;
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      padding: 10px 20px;
      text-align: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      &.hide {
        padding: 0;
      }
      img {
        max-width: 100%;
      }
    }
    .aside-menu {
      padding-top: 20px;
      .list-title {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.5em;
        padding: 0 30px;
        &.hide {
          display: none;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        &.hide {
          display: none;
        }
        li {
          margin: 10px 20px;
          padding: 10px;
          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 5px;
          }
          a {
            color: #fff;
            text-decoration: none;
            display: block;
            width: 1000px;
          }
        }
      }
    }
  }
}
